body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

.custom-nav {
    background: none;
    box-shadow: none;
}

.custom-nav ul.right{
    margin-right: 50px;
}

.custom-nav ul.right li:hover {
    background: none;
}

.custom-nav ul.right li a {
    background: none;
    font-size: 1.2rem;
    position: relative;
    color: white;
    text-decoration: none;
}

.custom-nav ul.right li a:hover {
    background: none;
}

.custom-nav ul.right li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

.custom-nav ul.right li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.header-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: calc(90vh - 64px); /* Subtract the height of the Navbar */
    width: 100vw;
    color: white;
}

.header-text h1 {
    margin-top: 0px;
    font-size: 3.5rem;
    font-weight: 900;
}

.name {
    /* color: rgb(219, 18, 129) */
    color: #1DE9B6
}

a.mailto {
    color: white;
}

a.mailto-black {
    color: black;
}

.contact-btn, .contact-btn:active, .contact-btn:hover, .contact-btn:focus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: none;
    border: 3px white solid;
    border-radius: 7px;
    font-size: 1.6rem;
}

.contact-btn-black, .contact-btn-black:active, .contact-btn-black:hover, .contact-btn-black:focus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    background: none;
    border: 3px black solid;
    border-radius: 7px;
    font-size: 1.6rem;
}


.header-container {
    position: fixed;
    z-index: -10;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    overflow: hidden;
}

.header-background {
    object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-animation: zoom-effect 10s forwards; /* Safari 4+ */
    -moz-animation:    zoom-effect 10s forwards; /* Fx 5+ */
    -o-animation:      zoom-effect 10s forwards; /* Opera 12+ */
    animation:         zoom-effect 10s forwards; /* IE 10+, Fx 29+ */
}

@keyframes zoom-effect {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
  }

.diag-ele-1 {
    position: absolute;
    z-index: 0 !important;
    background: white;
    height: 200px;
    width: 120%;
    transform: rotate(-3deg);
    transform-origin: top left;
}

.diag-ele-2 {
    position: absolute;
    right: 0;
    z-index: 10;
    background: #1DE9B6;
    height: 200px;
    width: 120%;
    transform: rotate(3deg);
    transform-origin: top right;
}

.about {
    display: flex;
    align-items: center;
    position: relative;
    background: white;
    z-index: 10 !important;
    min-height: 80vh;
    padding: 50px 0px 100px 0px;
}

#name {
    margin-bottom:0px;
}

.pc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.profile-picture {
    height: 100%;
    max-height: 400px;
    width: 100%;
    max-width: 400px;
}

.small {
    display: none;
    margin-bottom: 40px;
}

.portfolio-section {
    position: relative;
    background:#1DE9B6;
    z-index: 15 !important;
    padding: 100px 0px 100px 0px;
}

.portfolio{
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 900;
    color: white;
}

.card{
    position: relative;
}

.card-link { 
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 16;
}

footer {
    background: white;
    z-index: 20;
}

.row .col.footer-mid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.footer-header{
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 900;
}